@use 'variables' as theme;
@use 'bootstrap/scss/bootstrap' with (
    $body-bg: theme.$body-bg,
    $font-family-sans-serif: theme.$font-family-sans-serif,
    $font-size-base: theme.$font-size-base,
    $line-height-base: theme.$line-height-base,
);

@import url('https://fonts.bunny.net/css?family=Nunito');
