@use 'variables' as vars;

@use 'bootstrap/scss/bootstrap' with (
    $body-bg: vars.$body-bg,
    $font-family-sans-serif: vars.$font-family-sans-serif,
    $font-size-base: vars.$font-size-base,
    $line-height-base: vars.$line-height-base,
);
